*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1{
  height: 80vh;
  width: 80vw;
  border: 1px solid black;
  background-color: green;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  height: 20vh;
  width: 20vh;
  border: 1px solid black;
  background-color: red;
}