*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #fdf5db;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70vw;
  height: 60vh;
  position: relative;
}

.before-image-wraper , .after-image-wrapper{
  width: 70vw;
  height: 60vh;
  position: absolute;
}

.after-image-wrapper {
  width: 50%;
  overflow: hidden;
}

img {
  width: 70vw;
  height: 60vh;
  object-fit: cover;
}

.slider {
  height: 100%;
  width: 3px;
  background-color: #00ff9a;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}
